body{
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height:1.5;
 /*same: font: 15px/1.5 Arial, Helvetica, sans-serif;*/
  padding:0;
  margin:0;
  background-color:#FFEDED;
  
}



/* global */
.container{
  width:80%;
  margin:auto;
  
}

.navbar{
  width:75%;
  margin:auto;
  
}

.flex-container{
  display: flex;
  justify-content: center;
}


/* esto es parte del global, pero es para uso especifico de los cards de los productos */

.flex-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  
}
.flex-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  display:flex;
  padding: 15px 20px;
  flex-wrap: wrap;
}

.cerrar{
  align-self:stretch;
}
.card-container h2{
  margin-left: 20%;
}
.card-container h3{
  margin-left: 40%;
  padding-bottom: 10px;
}


.ul-container{
  border: 1px;
  width: 100%;
  
}
.ul-container table{
width: 100%;
padding-left:9% ;
}

/* continua el global */

ul{
  margin:0;
  padding:0;
}


 /* header */

header{
  background:#37424a;
  color:#fff;
  padding-top:20px;
  min-height:70px;
  border-bottom:#891073 2px solid;
}

header a{
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size:16px;
}


header li{
  display:inline;
  padding: 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color:#A30D87;
  font-weight: bold;
}

header a:hover{
  color:#cccccc;
  font-weight: bold;
}

/* showCase */

#showCase{
  min-height: 600px;
  background-image: url('./imagenes/Velas.jpg');
  background-repeat: no-repeat;
  background-position: cover;
  background-size:100% auto;
  
  text-align:center;
  color:#000;

} 
#showCase h1{
  margin: 0;
  font-size:55px;
  padding-top: 280px;
  margin-bottom:10px;
  
}

#showCase p{
  font-size:20px;
  
}


/*boxes*/

#boxes{
  margin-top: 50px;
  margin-bottom: 400px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:15px;
  
}

#boxes .box img{
  width: 90px;
}

/* sidebar */
aside#sidebar label{
  font-size: 20px;
}

aside#sidebar .quote input {
  width: 90%;
  padding: 10px;
  margin: 10px;
}

aside#sidebar .quote textarea{
  width: 88.5%;
  padding:20px;
  margin: 10px;
}



/*main col*/

article.main-col{
  display:inline-flex;
  flex-direction: column;
  margin: 30px;
  padding-bottom: 35px;
  padding-top:20px ;
}

article.main-col .page-title{
  text-align: center;
  font-size: 23px;
}

article.main-col p{
  font-size:16px;
  text-align: center;
}
/*sandra*/


#sandra{
  align-self: center;
  width: 20%;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

#sandra-desc{
 text-align: center;
 font-size: 18px;
}

/* Galeria de imagenes */

.galeria{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.galeria h2{
  text-align: center;
  font-size: 35px;
}

.linea{

  margin-bottom:40px;
}

.contenedor_imagenes{
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}

.contenedor_imagenes .imagen{
  width:33%;
  position: relative;
  height: 300px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

.imagen img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* arregla el tamaño */
}

.overlay{
  position: absolute;
  bottom:0;
  left:0;
  background: rgba(0, 0, 0, 0.55);
  width:100%;
  height: 0;
  transition: 0.75s;
  overflow:hidden;
}

.overlay h2{
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  position:absolute;
  top: 50%;
  left:50%;
  text-align: center;
  transform: translate(-50%, -80%);
}
.imagen:hover .overlay{
height: 100%;
cursor:pointer;
}

.btn-abrir-popup{
  position: absolute;
  top: 0;
  left:0;
  text-align: center;
  height: 100%;
  width:100%;
  opacity: 0;
  cursor:pointer;
}

/* Pop up de descripcion de productos */
.overlay-popup{
  background: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  
}

.overlay-popup.active{
  visibility: visible;
  background: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  bottom: 50;
  left: 0;
  right: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.popup{
  background: #f8f8f8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .8);
  border-radius: 3px;
  text-align: center;
  width: 80%;

  transition: .4s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.popup .btn-cerrar-popup{
  display:block;
  float:right;
  border-radius:80%;
  transition: .3s ease all;
  
}

.popup h2{
  font-size: 30px;
  margin-bottom: 10px;
  opacity:0;
}
.popup h3{
  font-size: 28px;
  opacity:0;
}
.popup p{
  opacity:0;
}
.tabla{
  padding-left: 33%;
}
.popup table{
  font-size: 18px;
  width:50%;
  border-collapse: collapse;
  opacity:0;
}

td{
  
  text-align: center;
}

/* animaciones */

.popup.active{
  opacity: 1;
  transform: scale(1);
}

.popup.active h2{
  animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h3{
  animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active p, td{
  animation: entradaTexto .8s ease .5s forwards;
}

@keyframes entradaTitulo{
  from{
    transform: translateY(-25px);
    opacity: 0;
  } to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaTexto{
  from{
    transform: translateY(25px);
    opacity: 0;
  } to{
    transform: translateY(0);
    opacity: 1;
  }
}

/*whatsapp*/
.consulta-contenedor{
  width: 100%;
  margin-top: 20px;
  padding-bottom: 15px;
  background-color: #FAE7E7;
  }

.whatsapp{
  text-align: center;
}


/* services */

ul#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;

}

footer{
  padding:20px;
 
  color:#fff;
  background-color:#750961;
  text-align:center;
}



/* media query */

@media(max-width:600px){
  header #branding,
  header nav,
  header nav li,
  #boxes .box,
  article.main-col,
  aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
     
  }
  
  #showCase{
    background-color: rgba(0, 0, 0, .3);
  }

  header{
      padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }
    .contenedor_imagenes{
    width: 100%;
  }
  .contenedor_imagenes .imagen{
    width: 90%;
    position: relative;
    height: auto;
  }
  #sandra{
    width: 80%;
    align-content: center; 
 }
}